<section>
    <h1>Home Page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis possimus suscipit perspiciatis nisi ex vero cumque, beatae expedita facere quam sapiente distinctio aspernatur aliquid?
    </p>
</section>